body {
    background-color: #67f3b1;
}

#head-ribbon {
    margin: 20px;
    padding: 10px;
    text-align: center;
    height: 200px;
    width: 96%;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}
#head-ribbon h1 {
    font-size: xxx-large;
}

#how-to {
    background-color: aliceblue;
    border: double;
    border-color: #111;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding: 4px;
}

#form-div {
    width: fit-content;
    height: fit-content;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#stock-selector {
    position: absolute;
    right: 30%;
    left: 30%;
    top: 20%;
}

#menu {
    border: #111;
    border-style: solid;
    border-radius: 5px;
    padding: 8px;
    float: right;
    right: 10%;
}
#how-to-div {
    border: #111;
    border-style: solid;
    border-radius: 5px;
    padding: 8px;
    float: left;
    left: 10%;
}

span :hover {
    border: rgb(254, 254, 112);
}
button :hover {
    color: rgba(128, 128, 128, 0.8);
}

.data-container {
    width: 98%;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    margin: 14px;
    height: 400px;
    position: relative;
    text-align: center;
}
.inside-div{
    margin: auto;
}

#chart {
    position: relative;
    width: 100%;
    height: 100%;
}

#history {
    height: 100%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    width: 20%;
}

.title{
    color: azure;
}
#closeBtn {
    position: absolute;
    top: 14px;
    right: 12px;
    font-size: large;
}

ul {
    padding-inline-start: 0px;
}

ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;   
    list-style-type: none;
}

li:hover {
    color: rgb(4, 74, 134);
}

#eraser {
    position: static;
    bottom: 0%;
    margin: 14px;
}

#data-text{
    background-color: white;
}

#market-data {
    border-left-style: solid;
    height: 100%;
    width: 33%; 
    float: left;
    display: inline;
    padding: 50px;
}
#trading-data {
    border-left-style: solid;
    height: 100%;
    width: 34%;
    float: left;
    display: inline;
    padding: 50px;
    

}
#total-box {
    border-left-style: solid;
    height: 100%;
    width: 33%;
    float: right;
    display: inline;
    padding: 50px;
}
