body {
    background-color: #67f3b1;
}

#head-ribbon {
    margin: 20px;
    padding: 10px;
    text-align: center;
    height: 200px;
    width: 96%;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.data-container {
    width: 98%;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    margin: 14px;
    height: 400px;
    position: relative;
}

#chart {
    position: relative;
    width: 100%;
    height: 100%;
}

#history {
    
    height: 400px;
    width: 20%;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    position: static;
    margin: 14px;
    text-align: center;

}

ul {
    padding-inline-start: 0px;
}

ul li {
    list-style-type: none;
    padding: 10px;
}

li:hover {
    color: aliceblue;
}

#eraser {
    position: static;
    bottom: 0%;
    margin: 14px;
}